* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #a8dadc;
  color: #1d3537;
}

main {
  width: 800px;
  margin: auto;
}

/* style header */
header {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #f9f9f9;
  box-shadow: 2px 0 10px #f9f9f9;
}

header nav li {
  display: inline-block;
  margin: 0 30px;
  font-weight: 700;
  font-size: 20px;
}

header nav li a {
  text-decoration: none;
  color: #1d3537;
}

header nav li span {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  margin-right: 30px;
}
/* akhir style header */

/* style hero section*/
.hero {
  min-height: 600px;
  text-align: center;
}

.hero-text {
  padding-top: 200px;
}

.hero-text h1 {
  font-size: 48px;
  letter-spacing: 2px;
}

.hero-text h2 {
  font-weight: 400px;
  margin-top: 10px;
}

.hero-icon img {
  margin: 15px;
}
/* akhir style hero section*/

/* style work-section */
.work-section {
  margin: 50px 0;
}

.work-section h1 {
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 50px;
}

.work-section .deskripsi {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.work-section .deskripsi .left, .right {
  width: 350px;
}

.work-section .deskripsi h2 {
  margin: 30px 0 10px 0;
}

.work-section .deskripsi ul li {
  margin: 5px 0 5px 20px;
}

/* style about */
.about P {
  letter-spacing: 0.5px;
  font-weight: 500;
}

.about .pertama {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 10px 0;
}

.about .pertama p {
  width: 550px;
  margin-top: 40px;
}

.about img {
  width: 200px;
}

.about .kedua p {
  margin: 30px 0;
  text-align: justify;
}

.about .kedua img {
  width: 800px;
  margin: 20px 0;
  box-shadow: 2px 0 10px white;
}
/* akhir style about */

/* style portfolio */
.portfolio {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 50px;
}

.portfolio .card {
  width: 300px;
  height: 120px;
  padding: 10px;
  border: 2px white solid;
  background-color: #9fd4d6;
  box-shadow: 2px 0 10px white;
  transition: transform 0.3s ease;
}

.portfolio .card:hover {
  transform: scale(1.05);
}

.portfolio h1 {
  font-size: 18px;
  padding-bottom: 5px;
}

.portfolio p {
  font-size: 14px;
}
/* akhir style portfolio */

/* style blog */
.blog {
  margin: 50px 0;
}

.blog .deskripsi {
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 30px;
}

.blog .articles {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.blog .articles .article {
  padding: 15px;
  background-color: #9fd4d6;
  box-shadow: 0 0 10px white;
  border-left: 4px solid #457b9d;
}

.blog .articles .article h3,
p {
  margin: 0 0 10px 0;
}

.blog .articles .article a {
  text-decoration: none;
  color: #457b9d;
  font-weight: bold;
}
/* akhir style blog */

/* style artikel */
.write {
  margin: 50px 0;
}

.write h1 {
  font-size: 36px;
  color: #09283b;
}

.write-section {
  margin: 40px 0;
}

.write-section h2 {
  margin-bottom: 10px;
}

.write-section h3 {
  margin-bottom: 5px;
}

.write-section ul li {
  margin: 5px 20px;
}

.write .deskripsi, .kesimpulan {
  font-weight: 500;
    letter-spacing: 1.5%;
    margin: 20px 0;
}

