* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "Roboto", sans-serif;
  background-color: #a8dadc;
  color: #1d3537;
  overflow-x: hidden;
}

main {
  width: 60%;
  margin: auto;
}

/* !homepage */
/* style header */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 15px 0;
  border-bottom: 1px solid #f9f9f9;
  box-shadow: 2px 0 10px #f9f9f9;
}

header span {
  font-family: "Pacifico", cursive;
  font-size: clamp(1.5em, 2vw, 2em);
  font-weight: 700;
}

header nav li {
  display: inline-block;
  margin: 0 25px;
  font-weight: 600;
  font-size: 1.2em;
}

header nav li a {
  text-decoration: none;
  color: #1d3537;
}

header nav li a:hover {
  text-shadow: 2px 2px 10px white;
}

/* akhir style header */

/* style hero section*/
.hero{
  min-height: 600px;
  text-align: center;
  padding-top: 200px;
}

.hero-text h1 {
  font-size: clamp(1.5em, 2.5vw, 3em);
  letter-spacing: 1px;
}

.hero-text h2 {
  font-size: clamp(1em, 2vw, 2em);
  font-weight: 500;
  margin: 10px;
}

.hero-icon img {
  margin: 15px;
}
/* akhir style hero section*/

/* style work-section */
.work-section {
  margin-bottom: 10%;
}

.work-section h1 {
  font-size: clamp(1.5em, 2vw, 2.5em);
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}

.work-section .deskripsi {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.work-section .deskripsi .left,
.right {
  width: 350px;
}

.work-section .deskripsi h2 {
  font-size: clamp(1em, 1.5vw, 2em);
  margin: 30px 0 10px 0;
}

.work-section .deskripsi ul li {
  margin: 5px 0 5px 20px;
  font-size: 1em;
}
/* akhir style work-section */

/* !aboutpage */
/* style about */
.about {
  margin: 10% 0;
}

.about p {
  letter-spacing: 1.5%;
  margin-bottom: 10px;
  font-size: 1em;
}

.about .deskripsi {
  padding: 20px 20px 10px 20px;
  border: 2px white solid;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.about .deskripsi h1 {
  font-weight: 500;
  font-size: clamp(1em, 2vw, 2em);
  text-align: center;
  margin-bottom: 15px;
}

.about .skill-page img {
  width: 100%;
  margin: auto;
}

.about .skill-page .deskripsi-skill {
  padding: 20px;
  border: 2px white solid;
  border-top: none;
  border-radius: 0 0 10px 10px;
}
/* akhir style about */

/* !portfolio page */
/* style portfolio */
.project {
  margin: 10% 0;
}

.project .judul {
  margin-bottom: 18px;
}

.portfolio {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.portfolio .card {
  width: 300px;
  height: 120px;
  padding: 10px;
  border: 2px white solid;
  background-color: #9fd4d6;
  box-shadow: 2px 0 10px white;
  transition: transform 0.3s ease;
}

.portfolio .card:hover {
  transform: scale(1.02);
}

.portfolio h1 {
  font-size: 1.2em;
  padding-bottom: 5px;
}

.portfolio p {
  font-size: 0.9em;
}

.program {
  margin-top: 15%;
}

.program img {
  width: 100%;
  margin: 30px 0 50px 0;
  border: 2px white solid;
  box-shadow: 2px 0 10px white;
}

.program h2 {
  font-family: "Pacifico", cursive;
  font-size: 1em;
}
/* akhir style portfolio */

/* !artikel page*/
/* style blog */
.blog {
  margin: 10% 0;
}

.blog .deskripsi {
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: clamp(1em, 1.5vw, 2em);
  margin-bottom: 30px;
}

.blog .articles {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.blog .articles .article {
  padding: 15px;
  background-color: #9fd4d6;
  box-shadow: 0 0 10px white;
  border-left: 4px solid #457b9d;
}

.blog .articles .article h3 {
  margin: 0 0 10px 0;
  font-size: clamp(1em, 1vw, 1.5em);
}

.blog .articles .article a {
  text-decoration: none;
  color: #457b9d;
  font-weight: bold;
  font-size: clamp(1em, 1vw, 1.5em);
}

.blog .articles .article a:hover {
  text-shadow: 0 0 10px white;
}
/* akhir style blog */

/* style artikel */
.write {
  margin: 10% 0;
}

.write h1 {
  font-size: clamp(1.5em, 2.5vw, 3em);
  color: #09283b;
}

.write p {
  font-size: clamp(1em, 1.3vw, 2em);
}

.write-section {
  margin: 40px 0;
}

.write-section h2 {
  font-size: clamp(1.2em, 2vw, 2em);
  margin: 10px 0;
}

.write-section h3 {
  margin: 10px 0 5px 0;
}

.write-section ul li {
  margin: 5px 20px;
}

.write .deskripsi,
.kesimpulan {
  font-weight: 500;
  letter-spacing: 1.5%;
  margin: 20px 0;
}
/* akhir style artikel */

/* !footer page*/
/* style footer */
footer {
  width: 100%;
  background-color: #9fd4d6;
  border-top: 1px solid #f9f9f9;
  box-shadow: 0 2px 10px #f9f9f9;
  text-align: center;
  overflow-x: hidden;
}

footer ul li {
  display: inline-block;
  margin: 30px 20px;
  font-size: 18px;
}

footer ul li a {
  text-decoration: none;
  color: #1d3537;
  font-weight: 500;
  
}

footer ul li a:hover {
  text-shadow: 2px 2px 10px white;
}

.footer-icon img {
  margin: 8px 10px 30px 10px;
}

.footer-icon p {
  font-weight: 500;
}

footer p {
  margin-top: 10px;
}
/* akhir style footer */


/* media query */
@media (max-width: 1000px) {
  main {
    width: 80%;
  }
}

@media (max-width: 768px) {
  main {
    width: 90%;
    margin: auto;
    padding: 10px;
  }

  header nav li {
    margin: 0 15px;
  }

  header nav li span {
    margin-right: 20px;
  }
}

@media (max-width: 550px) {
  main {
    width: 90%;
    margin: auto;
    padding: 10px;
    overflow-x: hidden;
  }

  header {
    display: block;
    text-align: center;
    gap: 0;
  }

  header span {
    margin-bottom: 10px;
  }

  header nav li {
    margin: 0 10px;
    font-size: 0.9em;
  }

  .hero-icon img {
    margin: 10px;
  }

  .work-section .deskripsi {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .work-section .deskripsi .left,
  .right {
    width: 100%;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
  }

  .portfolio .card {
    width: 100%;
  }

  footer ul li {
    margin: 30px 10px;
    font-size: 0.9em;
  }
}

@media (max-width: 450px) {
  .hero h1 {
    font-size: 18px;
  }

  .hero h2 {
    font-size: 12px;
  }
}
